/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width:1250px) {
  .aboutus-wraper {
    max-width: 1100px;
    width: 100%;
}
.aboutus-left {
  max-width: 600px;
  width: 100%;
}
.video {
  margin-left: 5%;
}

}
@media (max-width:1075px) {
  .aboutus-wraper {
    max-width: 1000px;
    width: 100%;
}
.aboutus-left {
  max-width: 500px;
  width: 100%;
}
.aboutus-right {
  margin-top: 12%;
  max-width: 250px;
  width: 100%;
}
.video {
  margin-left: 5%;
  max-width: 500px;
  width: 90%;
}
 .email-phone {
  max-width: 600px;
  width: 100px;
 }
}
@media (max-width:1000px) {
  .hamburger {
    display: block;  
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    -webkit-transform: translateY(8px)rotate(45deg);
        -ms-transform: translateY(8px)rotate(45deg);
            transform: translateY(8px)rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    -webkit-transform: translateY(-8px)rotate(-45deg);
        -ms-transform: translateY(-8px)rotate(-45deg);
            transform: translateY(-8px)rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left:-100%;
    top: 20px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(52,52,52,1)));
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
    width: 100%;
    text-align: center;
    -webkit-transition:0.3s ;
    -o-transition:0.3s ;
    transition:0.3s ;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0px;
  }
  .logo-container {
   z-index: 3;
   margin-left: 10%; 
  }
  .title-container {
      max-width: 700px;
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 13%;
      margin-top:40px;  
  }
    .navbar {
      padding:30px 50px 30px 40px ;
    }
    .logo-img{
      max-width: 80px;
    }
    .nav-menu {
      position: fixed;
      left:-100%;
      top: px;
      -webkit-box-orient:vertical;
      -webkit-box-direction:normal;
          -ms-flex-direction:column;
              flex-direction:column;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
      width: 100%;
      text-align: center;
      -webkit-transition:0.3s ;
      -o-transition:0.3s ;
      transition:0.3s ;
      padding-left: 30px;
    }
    .title-container {
      max-width: 700px;
      width: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 13%;
      margin-top:60px;
    }
    .galery-title {
      margin-top: 11%;
    }
    .email-phone {

    -ms-flex-wrap: wrap;

        flex-wrap: wrap;
    }
}
@media (max-width:900px) {
  .aboutus-wraper {
    max-width: 850px;
    width: 100%;
}
.aboutus-left {
  max-width: 400px;
  width: 100%;
}
.aboutus-right {
  margin-top: 12%;
  max-width: 250px;
  width: 100%;
}
}
@media screen and (max-width: 880px){
	.contact-box{
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
  
}

@media (max-width:855px) {
  .aboutus-wraper {
    max-width: 800px;
    width: 95%;
}
.aboutus-left {
  max-width: 450px;
  width: 100%;
}
.aboutus-right {
  margin-top: 12%;
  max: width 200px;;
  width: 80%;
  margin-left: 30px;
}

}

@media (max-width:750px) {
  .aboutus-wraper {
    max-width: 700px;
    width: 90%;
}
.aboutus-left {
  max-width: 450px;
  width: 100%;
}
.aboutus-right {
  margin-top: 12%;
  max-width: 230px;
  width: 90%;
}
.galery-title {
  margin-top:16%;
}
.contact-title {
  margin-top: 16%;
}
.maps {
  max-width: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
}
@media (max-width:655px) {
  .aboutus-wraper {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.gallery-card {
  max-width: 500px;
  width: 100%;
}
}
@media (max-width:517px) {
  .carousel-container {
    width: 450px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}
.gallery-card {
  max-width: 450px;
  width: 100%;
}
}
@media (max-width:500px){
  .navbar {
    padding:30px 40px 30px 40px ;
  }
  .logo-img{
    max-width: 75px;
  }
  .nav-menu {
    position: fixed;
    left:-100%;
    top: px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(52,52,52,1)));
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
    width: 100%;
    text-align: center;
    -webkit-transition:0.3s ;
    -o-transition:0.3s ;
    transition:0.3s ;
    padding-left: 26px;
    z-index: 8;
  }
  .title-container {
    margin-top: 70px;
  }  
  .galery-title {
    margin-top:18%;
  }
  .contact-title {
    margin-top: 18%;
  }
  .maps {
    max-width: 300px;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  }
@media (max-width:465px) {
  .carousel-container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}
.gallery-card {
  max-width: 400px;
  width: 100%;
}
.galery-title {
  margin-top:20%;
}
.contact-title {
  margin-top: 20%;
}
}
  @media (max-width:415px){

    .nav-menu {
      position: fixed;
      left:-100%;
      
      -webkit-box-orient:vertical;
      
      -webkit-box-direction:normal;
      
          -ms-flex-direction:column;
      
              flex-direction:column;
      background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,1)), to(rgba(52,52,52,1)));
      background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
      background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 100%);
      width: 100%;
      top:px;
      text-align: center;
      -webkit-transition:0.3s ;
      -o-transition:0.3s ;
      transition:0.3s ;
      padding-left: 70px;
    }
    .logo-img{
      max-width:65px;
    }
    .carousel-container {
      width: 320px;
      height: 400px;
      position: relative;
      margin: 0 auto;
  }
  .gallery-card {
    max-width: 320px;
    width: 90%;
  }
  .galery-title {
    margin-top:27%;
  }
  .contact-title {
    margin-top: 27%;
  }
  }
  @media (max-width:340px) {
      .footer-container {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
         gap: 10px;
              }
      .carousel-container {
        width: 290px;
        height: 400px;
        position: relative;
        margin: 0 auto;
    }
    .gallery-card {
      max-width: 250px;
      width: 90%;
      
    }
    }